
.Navbar {
  height: 3rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #4277eb;
  z-index: 3;
}

.Logo {
  height: 2rem;
  object-fit: cover;
  border-radius: 20px;
  width: 2rem;
}

.DesktopMenu {
  display: flex;
  gap: 2rem;
}

.DesktopMenuListItem {
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.DesktopMenuListItem:hover {
  color: black;
  border-bottom: 3px solid black;
}
.desktopbtn {
  background: #fff;
  color: #000;
  border: none;
  display: flex;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 .5rem;
  border-radius: 20px;
}
.Desktopbtnimg {
  height: 16px;
  object-fit: cover;
  width: 16px;
  margin: 7px;
}
.desktopbtn:hover {
  border-bottom: 3px solid black;
}

.Mobmenuimg {
  display: none;
  object-fit: cover;
  height: 1.8rem;
  border-radius: 100%;
  cursor: pointer;
}

.MobMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: none;
  flex-direction: column;
  padding: 0.5rem;
  min-width: 15rem;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
}

.MobMenu.show {
  display: flex;
}

.MobMenuListItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background-color: rgb(82, 82, 82);
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .DesktopMenu, .desktopbtn {
    display: none;
  }
  .Mobmenuimg {
    display: block;
  }
}
