.Contact {
  color: black;
  width: 100vw;
  max-width: 75rem;
  background-color: rgb(255, 255, 255); /* Example background color */
  margin: 0 auto;
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.Contactpagetitle {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px;
}

.contactdesc {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* color: black; */
}
.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 2rem;
}
.link {
  padding-left: 0px;
  height: 30px;
  width: 30px;
  gap: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.name,
.gmail,
.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border: none;
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  height: 25px;
  width: auto;
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  border: 1px solid black;
  border-radius: 20px;
}

.submit:hover {
  color: rgb(255, 255, 255);
  /* padding-bottom: 0.5rem; */
  color: black;
  border-bottom: 2px solid black;
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .Contact {
      padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .Contact {
      padding: 1rem;
  }

  .contactform {
      width: 100%;
  }

  .name, .gmail, .msg {
      width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .Contact {
      padding: 0.5rem;
  }
}