*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  /* color: black; */
}

body {
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255); /* Change text color to black */
  overflow: hidden;
  overflow-y: scroll;
}

.active {
  padding-bottom: 0.5rem;
    color: black;
    border-bottom: 3px solid black;
}